{# List all four types of opportunities and for the past events and programs add show/hide capability using classes from
   InOtherWords, which should be a required module for organizations anyway (though it's the Newtowne theme actually
   grabbing the library, but themes can't declare deps yet https://www.drupal.org/project/drupal/issues/474684 #}
{% if programs %}
  <div class="opportunity--block">
    <h3 class="title" id="current-programs">{% trans %}Current programs{% endtrans %}</h3>
    <div class="columns is-multiline">
      {% for program in programs %}
        <div class="column is-half">
          {{ program }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if past_programs %}
  <div class="opportunity--block">
    <input type="checkbox" id="inotherwords-toggle-past-programs" class="inotherwords--toggle" name="toggle">
    <label for="inotherwords-toggle-past-programs" class="link" title="{% trans %}Show or hide past programs.{% endtrans %}">{% trans %}Show past programs{% endtrans %}</label><span class="period inotherwords--start-hidden">.</span><span class="colon inotherwords--start-hidden">:</span>
    <div class="inotherwords--start-hidden">
      <div class="columns is-multiline">
        {% for past_program in past_programs %}
        <div class="column is-half">
          {{ past_program }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
{% if events %}
  <div class="opportunity--block">
    <h3 class="title" id="upcoming-events">{% trans %}Upcoming events{% endtrans %}</h3>
    <div class="columns is-multiline">
      {% for event in events %}
      <div class="column is-half">
        {{ event }}
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if past_events %}
  <div class="opportunity--block">
    <input type="checkbox" id="inotherwords-toggle-past-events" class="inotherwords--toggle" name="toggle">
    <label for="inotherwords-toggle-past-events" class="link" title="{% trans %}Show or hide past events.{% endtrans %}">{% trans %}Show past events{% endtrans %}</label><span class="period inotherwords--start-hidden">.</span><span class="colon inotherwords--start-hidden">:</span>
    <div class="inotherwords--start-hidden">
      <div class="columns is-multiline">
        {% for past_event in past_events %}
        <div class="column is-half">
          {{ past_event }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
