{% if organizations %}
  <div class="opportunity--block">
    <h3 class="title">{% trans %}Affiliated organizations{% endtrans %}</h3>
    <div class="columns is-multiline">
      {% for organization in organizations %}
        <div class="column is-half">
          {{ organization }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
